<div class="fav-panel">
  <div class="alertyy">
    <% if (locals.validation_error!=undefined||locals.success_message!=undefined|| locals.login_error!=undefined) { %> <%- include('./partials/_message') %>
    <% } %>
  </div>
  
  <div class="fav-container">
    <div class="fav-title">
      <h3>Favorilerim</h3>
      <hr />
    </div>
    <% if (!book.length ) { %>
    <div class="fav-none-area">
      <h3 class="fav-none">
        <i class="bx bxs-heart"></i>&nbsp;Favorilerde kitap bulunamadı
      </h3>
    </div>

    <% } else { %>
    <div class="fav-tit-area">
      <div class="fav-urun">
        <h3>Ürün</h3>
        <hr />
      </div>
      <div class="fav-info">
        <h3>Ürün Bilgisi</h3>
        <hr />
      </div>
      <div class="fav-link">
        <h3>Linkler</h3>
        <hr />
      </div>
      <div class="fav-remove">
        <h3>Kaldır</h3>
        <hr />
      </div>
    </div>
    <% for( let index = book.length-1; index >= 0 ; index-- ) { %> 
      <% if(index!=book.length-1) { %>
    <div class="fav-col-hr">
      <hr />
    </div>
    <% } %>
    <div class="fav-col">
      <div class="fav-img">
        <img src="<%- book[index].book_image %>" alt="" />
      </div>
      <div class="fav-content">
        <div class="fav-descs">
          <div class="fav-detail-title">
            <h3><%- book[index].title %></h3>
            <div class="fav-detail-author">
              <h6>Yazar:</h6>
              &nbsp;
              <h4><%- book[index].author %></h4>
            </div>
            <div class="fav-detail-publisher">
              <h6>Yayınevi:</h6>

              <h5>&nbsp;&nbsp;<%- book[index].publisher %></h5>
            </div>
            <div class="fav-detail-rank">
              <h3>Değerlendirmeler</h3>
              <hr class="rank" />
              <div id="ratingg">
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
                <i class="bx bx-star"></i>
              </div>

              <input
                type="hidden"
                id="in-ratee"
                value="<%- Math.round(book[index].rating) %>"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="fav-links">
        <div class="fav-detail-link">
          <% for( let k = 0; k < book[index].buy_links.length; k++ ) { %>
          <a href="<%- book[index].buy_links[k].url %>" target="_blank">
            <h6><%- book[index].buy_links[k].name %></h6>

            <p><%- book[index].buy_links[k].linkPrice %> TL</p>
          </a>
          <% } %>
        </div>
      </div>

      <div class="fav-btn-panel">
        <div class="fav-btn-area">
          <a href="/details/<%- book[index].id %>" class="fav-btn-det"
            ><i class="bx bx-search-alt-2"></i>&nbsp;İncele</a
          >
          <a
            href="/auth/deletefavorite/<%- user.user.id %>/<%- book[index].id %>"
            class="fav-btn"
            ><i id="fav-x" class="bx bx-x"></i>Kaldır</a
          >
        </div>
      </div>
    </div>
    <% } %> <% } %>
  </div>
</div>
