
<div class="alertyy">
  <% if (locals.validation_error !=undefined || locals.success_message!=undefined || locals.login_error !=undefined) { %> <%-
  include('./partials/_message') %> <% } %>
</div>
<section style="height: inherit;">
  <div class="bg">
    <div class="header-panel">
    
      <div class="header-title">
        <h1>Kitap Dağı</h1>
        <div class="header-alt-title">
          <h4>Dağ kadar kitabın tek adresi..</h4>
        </div>
      </div>
    </div>
  </div>
 
</section>

<section class="box-center">
  <div class="box-panel">
    <div class="box-left">
      <a class="box-a1" href="#">
        <img id="img1" src="/frontend/assets/gunun_kitabi.png" alt="" />
      </a>
    </div>
    <div class="box-right">
      <div class="box-right-top">
        <a class="box-a2" href="/page/indirimdekiler/1">
          <img id="img2" src="/frontend/assets/01.png" alt="" />
        </a>
      </div>
      <div class="box-right-bottom">
        <a class="box-a3" href="/page/yeni-cikan-kitaplar/1">
          <img id="img3" src="/frontend/assets/cok_satan.png" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="book-panel">
    <div class="title">
      <h3>Sizin İçin Seçtiklerimiz</h3>
      <hr />
    </div>
    <div class="book-col">
      <div class="customer-logos slider">
        <% for( let index = 0; index < 7; index++ ) { %>
       
            <div class="slide">
              <div class="item">
                <a href="/details/<%- api[index]._id %>">
                  <div class="book-img">
                    <img src="<%- api[index].book_image %>" />
                  </div>
                  <div class="book-info">
                    <h3><%- api[index].title %></h3>
                    <div class="book-author">
                      <h4><%- api[index].author %></h4>
                    </div>
                    <div class="book-publisher">
                      <h5><%- api[index].publisher %></h5>
                    </div>
                  </div>
                  <div class="det">
                    <div class="book-detail">
                      <h6>İncele</h6>
                      <i class="bx bx-chevron-up"></i>
                    </div>
                  </div>
                </a>
                
              </div>
            </div>
 

        <% } %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="card-panel">
    <ul>
      <li>
        <i class="bx bx-file-find bx-tada bx-rotate-90"></i>
        <h1>Araştır</h1>
      </li>
      <span></span>
      <li>
        <i class="bx bx-search-alt bx-tada"></i>
        <h1>Keşfet</h1>
      </li>
      <span></span>
      <li>
        <i class="bx bxs-balloon bx-tada"></i>
        <h1>Eğlen</h1>
      </li>
      <span></span>
      <li>
        <i class="bx bx-book-bookmark bx-tada"></i>
        <h1>Öğren</h1>
      </li>
    </ul>
  </div>
</section>

<section>
  <div class="book-panel">
    <div class="title">
      <h3>Çok Satan Kitaplar</h3>
      <hr />
    </div>
    <div class="book-col">
      <div class="customer-logos slider">
        <% for( let index = 7; index < 14; index++ ) { %>
        
            <div class="slide">
              <div class="item">
                <a href="/details/<%- api[index]._id %>">
                  <div class="book-img">
                    <img src="<%- api[index].book_image %>" />
                  </div>
                  <div class="book-info">
                    <h3><%- api[index].title %></h3>
                    <div class="book-author">
                      <h4><%- api[index].author %></h4>
                    </div>
                    <div class="book-publisher">
                      <h5><%- api[index].publisher %></h5>
                    </div>
                  </div>
                  <div class="det">
                    <div class="book-detail">
                      <h6>İncele</h6>
                      <i class="bx bx-chevron-up"></i>
                    </div>
                  </div>
                </a>
                
              </div>
            </div>
     

        <% } %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="book-panel">
    <div class="title">
      <h3>Yeni Çıkan Kitaplar</h3>
      <hr />
    </div>
    <div class="book-col">
      <div class="customer-logos slider">
        <% for( let index = 14; index < 21; index++ ) { %>

        <div class="slide">
          <div class="item">
            <a href="/details/<%- api[index]._id%>">
              <div class="book-img">
                <img src="<%- api[index].book_image %>" />
              </div>
              <div class="book-info">
                <h3><%- api[index].title %></h3>
                <div class="book-author">
                  <h4><%- api[index].author %></h4>
                </div>
                <div class="book-publisher">
                  <h5><%- api[index].publisher %></h5>
                </div>
              </div>
              <div class="det">
                <div class="book-detail">
                  <h6>İncele</h6>
                  <i class="bx bx-chevron-up"></i>
                </div>
              </div>
            </a>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</section>
